<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Disaster Risk Financing and Transfer - District map detail</title>

    <meta name="keywords" content="Disaster Risk Financing and Transfer" />
    <meta name="description" content="">
    <meta name="author" content="cimafoundation.org">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">

    <!-- Bower components & JS -->
    <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="bower_components/angular/angular.js"></script>

    <!-- Angular Cookies -->
    <script src="bower_components/angular-cookies/angular-cookies.js" type="text/javascript"></script>

    <!-- Translate provider -->
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-translate-loader-partial/angular-translate-loader-partial.min.js"></script>

    <!-- VEX DIALOG - POPUP INIZIO -->
    <script src="js/vex-master/dist/js/vex.min.js"></script>
    <script src="js/vex-master/dist/js/vex.combined.min.js"></script>
    <link href="js/vex-master/dist/css/vex.css" rel="stylesheet" />
    <link href="js/vex-master/dist/css/vex-theme-default.css" rel="stylesheet" />
    <script>vex.defaultOptions.className = 'vex-theme-default';</script>
    <!-- VEX DIALOG - POPUP FINE -->

    <!-- RFSEA APP -->
    <script src="js/angular/app.js"></script>
    <script src="js/angular/services.js" type="text/javascript"></script>
    <script src="js/angular/controller_district_details.js" type="text/javascript"></script>
    <script src="js/angular/controller_menu.js" type="text/javascript"></script>
    <script src="js/angular/controller_footer.js" type="text/javascript"></script>
    <script src="js/angular/controller_map_legend.js" type="text/javascript"></script>
    <script src="js/angular/controller_login.js" type="text/javascript"></script>
    <script src="js/angular/directives.js" type="text/javascript"></script>
    <!-- RFSEA APP -->

    <!-- Leaftlet -->
    <script src="bower_components/leaflet/dist/leaflet.js"></script>
    <link href="bower_components/leaflet/dist/leaflet.css" rel="stylesheet">

    <!--fontawesome-->
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <!--flag css-->
    <link rel="stylesheet"  href="node_modules/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
    <!--animate-->
    <link rel="stylesheet" href="css/animate.css" rel="stylesheet">
    <!-- RFSEA CSS -->
    <link rel="stylesheet"  href="css/rfsea.css" rel="stylesheet">
    <link rel="stylesheet"  href="css/skin_deda.css" rel="stylesheet">
    <!--<link rel="stylesheet"  href="css/soglie.css" rel="stylesheet">-->

</head>
<body ng-app="rfseaApp" ng-controller="rfseaCtrlDistrictMap">

<div class="rfsea_box_header">
    <div class="rfsea_header_img">
        <div id="map" style="width:100%; height: 100vh;"></div>
        <rfsealegend paletteobj="paletteColors" position="palettePosition" type="maptype" titletoshow="legendtitle"></rfsealegend>
    </div>
</div>

<!--<topmenu page="2" district-show="false" riskprofile-show="false" country-select="countrySelected" districtdetails="bdistrictDetails.status"></topmenu>-->
<topmenu userinfo="userinfo" countryselected="countrySelected" countries="countriesList" riskprofile-show="bRiskProfile.status" district-show="bDistrict" districtdetails="true"></topmenu>

<div class="container-fluid rfsea_box_content" ng-class="{show: bShowBar, hide: !bShowBar}">

    <div class="rfsea_box">
        <div class="d-inline-flex align-items-start justify-content-between date ">
            <a class="ham not" href="" ng-click="showHideSideBar()"><i class="fa fa-2x " ng-class="{'fa-times': bShowBar, 'fa-chevron-right': !bShowBar}"></i></a>
            <div class="rfsea_box text-center">
                <h3 class="rfsea_box_country_details_name">{{districtObj.name}}</h3>
                <hr>
                <h5 class="rfsea_box_country_details_name_subtitle">{{countrySelected.name | translate}}</h5>
            </div>
        </div>
    </div>

    <div class="rfsea_box_country_details">
        <div class="row" ng-if="bShowBar">
            <!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">-->
            <!-- <div class="rfsea_box title text-center">
                 <h2 class="rfsea_box_country_details_name">DISTRETTO1</h2>
                 <hr>
                 <h5 class="rfsea_box_country_details_name_subtitle">Details</h5>
                 <br>
             </div>-->
            <!--</div>-->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!--<table class="rfsea_table" style="width:100%;">

                    <tr >
                        <td><i></i></td>
                        <td class="text-left">
                            <a href="" ng-click="setLayer_eo()">BTN EO</a>
                        </td>
                    </tr>
                    <tr>
                        <td><i></i></td>
                        <td class="text-left">
                            <a href="" ng-click="setLayer_wd()">BTN WD</a>
                        </td>
                    </tr>
                    <tr>
                        <td><i></i></td>
                        <td class="text-left">
                            <a href="" ng-click="setLayer_eo_wd()">BTN Compare EO WD</a>
                        </td>
                    </tr>

                </table>-->
                <div class="d-flex flex-column">
                    <!--<h4 >-->
                        <a class="d-inline-flex align-items-center p-4" ng-class="{'rfsea-link-active': mapType == 'eo'}" href="" ng-click="setLayer_eo()">
                            <i class="fa fa-2x icon-eo"></i>
                            <h4 class="pl-3">EO MAP</h4>
                        </a>

                    <!--</h4>-->
                    <!--<h4 >-->
                        <a class="d-inline-flex align-items-center p-4" ng-class="{'rfsea-link-active': mapType == 'model'}" href="" ng-click="setLayer_wd()">
                            <i class="fa fa-2x icon-wd"></i>
                            <h4 class="pl-3">MODEL MAP</h4>
                        </a>

                    <!--</h4>-->
                    <!--<h4 >-->
                        <a class="d-inline-flex align-items-center p-4" ng-class="{'rfsea-link-active': mapType == 'compare'}" href="" ng-click="setLayer_eo_wd()">
                            <i class="fa fa-2x icon-eo-wd"></i>
                            <h4 class="pl-3">COMPARE EO/MODEL</h4>
                        </a>

                    <!--</h4>-->

                </div>
            </div>


        </div>
    </div>



</div>
<rfseafooter></rfseafooter>

</body>
</html>