@import '_variables';

/********************************************************/
/******************* media responsive*************************/
/********************************************************/

@media screen and (min-width: 1280px) {
  p {
    line-height:2.2;
    font-size:1.33em;
  }
}
@media screen and (max-width: 1280px) {
  p {
    line-height:1.8;
    font-size:1.2em;
  }
}



@media screen and (max-width: 1024px), (orientation: landscape) {
  .rfsea_top_page_chart_title {
    //font-size:30px;
  }
  .rfsea_table td {
    padding: 10px 0;
    //font-size:20px;
    line-height: 30px;
  }
  .rfsea_box_content {
    &.show {    min-width:300px;}
  }


}

@media screen and (max-width: 800px) and  (orientation: portrait) {
  .rfsea_box_menu li {
    float:none;
    padding:1em 1em!important;
    border-right:none;
    border-bottom:4px solid $color_font;
    &:last-child {border:none;}
  }
  .rfsea_box_country_name {font-size:2.5em;}
  p {
    line-height:1.5;
    font-size:1em;
  }
}

@media screen and (max-height: 900px)  {
  .toggle {
    position: relative!important;
    left:inherit!important;
    margin-top:3em;
  }
}


