
// Base Colors
$shade-10: $color_base !default;
$shade-1: $color_font !default;
$shade-0: $color_font !default;
$shade-2: magenta !default;
$teal: #1abc9c !default;

// Range Slider
$range-width: 98% !default;
$range-width: 300px;
$range-height: 50px !default;

$range-handle-color: $shade-10 !default;
$range-handle-color-hover: $teal !default;
$range-handle-size: 50px !default;

$range-track-color: $shade-1 !default;
$range-track-height: 10px !default;

$range-label-color: $shade-10 !default;
$range-label-width: 60px !default;
$range-slider-height:30px;
$range-border-width: 3px;

$segment_value: 200px;
$segment_value-a: 100px;
$segment_value-b: 200px;
$segment_value-c: 150px;
$segment-value-sum: $segment_value-a + $segment_value-b + $segment_value-c;

$range-label-height-min: 30px;
$range-label-height-max: 100px;
$range-label-pad-min: 8px;
$range-label-pad-max: 50px;

$thr_size: 40px;
$pad_initial: 20px;


$b_width: 4px;
$b_style:solid;

@mixin border($direction, $b_width, $b_style, $color) {
  border-#{$direction}: $b_width $b_style $color;
}
@mixin border-default {
  border: $b_width $b_style $shade-0;
}
@mixin border-inverse {
  border: $b_width $b_style $shade-10;
}



// START Reset
* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}


body {
  //font-family: sans-serif;
  //padding: 60px 20px;
  //margin:260px 0;
  margin: calc(#{$width} - 2 * #{$pad_initial});



  @media (min-width: 600px) {
    //padding:50px $pad_initial;
    margin:250px 0;
  }
}

// END Reset






.range-slider {  margin: 50vh 0 0 0;}

.wrap, .chiaro, .scuro  {

  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:flex-start;
  position:relative;
  min-height: $range-height;

}

.chiaro, .scuro, .wrap {

  text-align:center;
}




.range {
  &-bck, &-soglia, &-step {
    display:inline-flex;
    flex-direction:row;
    justify-content:flex-start;
    position:relative;


  }

  &-bck {
    height:calc( #{$range-height} + #{$b_width} );
    margin:$pad_initial;
    @include border('bottom', $b_width, $b_style, $shade-0);


  }
  &-bck + &-soglia {
    position:absolute;
  }
}


$step: 6;
$pxs: ();
$cxs: green, lime, yellow, tomato, red, purple;
$ab: green, lime;
$bc: yellow, tomato;
$cd: red, purple;

@for $i from 1 through $step {
  $pxs: append($pxs, $i * 100% / $step );
  .range-bck > .value__#{$i} {
    margin-top:$range-height;
    @include border('right', $b_width, $b_style, $shade-0);
    padding-top:20%;
    label {position:absolute;}
    &:nth-child(odd) {
      height:50%;
      padding-top:10%;
    }
  }
  .range-step {
    .step__1 {    background-image: linear-gradient(90deg, $ab);}
    .step__2 {    background-image: linear-gradient(90deg, $bc);}
    .step__3 {    background-image: linear-gradient(90deg, $cd);}
  }
}



.range-bck [class*="value__"] {
  padding-left: ( $range-width / $step ) - $b_width;
  // color: $color_font;
}

[class*="step__"]  {
  height:calc( #{$range-height} );
  width:( $range-width / 3 );
  // color: $shade-0;
}
.range-step {
  position:absolute;
}

$value_3_pos: $range-label-height-max;


.range-soglia {position:absolute; margin-left:$pad_initial;}

.soglia__value {
  position:absolute;
  width:$thr_size; height:$thr_size;
  //margin-left: -($thr_size / 2);
  @include border-default;
  border-radius:50%;
  // background-color: $shade-10;
  margin-top: - $range-height;
  margin-left: -$thr_size/2 + $b_width;
  line-height:2;
  z-index:120;
  &.value__3 {
    // color:$shade-0;
    font-size: $range-label-height-max / 3;
    height: $range-label-height-max;
    width: $range-label-height-max;
    padding-top: $range-label-height-max / 2;
    letter-spacing:-0.05em;
    line-height: inherit;
    // altezza pop + mezza altezza range - border width
    //top: -($range-label-height-max + ($range_height / 2 - $b_width) );
    top: -$range-label-height-max ;
    z-index: 110;
    margin-left: -($range-label-height-max / 2);
  }
}

.thr {
  display:flex;
  align-items:center;
  flex-direction:column;
  // Icona soglia max
  i {margin-top:-1em;}
}
.bar {
  width: $b_width;
  // background-color: $shade-0;
  z-index:1;
  position:absolute;
  top: 100%;
  height:  $range-label-height-max;
}

.rp {
  font-size:50%;
  padding: 5px 1rem;
  // background:$shade-10;
  @include border-default;
  border-radius:2rem;
  $operation: -$range-height;
  transform: scale(0.6) translateY(#{$operation});
  font-weight:bolder;
  letter-spacing:0.002em;
  z-index:1;

}
/*
==================================================================
Color set base chiaro/scuro
==================================================================
*/
.eap { //tooltip over number
  .tooltip{
  margin-top: -85px;
  }
  .tooltip::before{
    margin-top: 38px;
    -webkit-transform: scaleY(-1) translate(-50%);
    transform: scaleY(-1) translate(-50%);
  }
}

#slider {text-transform: lowercase;} //lowercase in riskbar number



.riskbar__pillow{
  padding: 0px 15px;
  border-radius: 15px;
  color: $shade-10!important;
  box-shadow: 0px 0px 2px $shade-10;
}


.scuro .wrap {

  //background: $shade-10;
  color: $shade-0;
  .rp, .soglia__value {
    background: $shade-10; color: $shade-1;
  }
  .soglia__value__3 {
    color: $shade-1;
  }
  .bar {
    background: $shade-0;
  }
  .range-bck > [class*="value__"] {
    color: $shade-0;

  }
  .range-bck {
    @include border('bottom', $b_width, $b_style, $shade-0);
    @include border('top', $b_width, $b_style, $shade-0);
    @include border('left', $b_width, $b_style, $shade-0);
    @include border('right', $b_width, $b_style, $shade-0);
  }

  .riskbar__pillow {
    background-color: $shade-0;
  }
}
.chiaro .wrap {
    //background:$shade-0;
    color:$shade-10;
    .rp, .soglia__value { background:rgb(254,254,254); color: $shade-10;}
    .soglia__value__3 {
      color:$shade-10;
    }
    .bar {background:$shade-10;}
    .range-bck {
      //@include border('bottom', $b_width, $b_style, $shade-10);
      @include border('bottom', $b_width, $b_style, $shade-10);
      @include border('top', $b_width, $b_style, $shade-10);
      @include border('left', $b_width, $b_style, $shade-10);
      @include border('right', $b_width, $b_style, $shade-10);
    }
    .soglia__value, .rp {@include border-inverse;}
    .range-bck > [class*="value__"] {
      @include border('right', $b_width, $b_style, $shade-10);
      color: $shade-10;
    }
  margin-bottom: 50px; /*margin per vista mobile*/
  margin-top: -45px;

  .riskbar__pillow {
    background-color: rgb(254,254,254);
  }

}




/*
==================================================================
footer
==================================================================
*/


.rfsea_footer_box {
  z-index:120;
}
