@import 'variables';

// Base Colors
$shade-10: $color_base !default;
$shade-1: orange !default;
$shade-0: $color_font !default;
$shade-2: magenta !default;
$teal: #1abc9c !default;

// Range Slider
//$range-width: 100% !default;
$range-width: 300px;
$range-height: 50px !default;

$range-handle-color: $shade-10 !default;
$range-handle-color-hover: $teal !default;
$range-handle-size: 50px !default;

$range-track-color: $shade-1 !default;
$range-track-height: 10px !default;

$range-label-color: $shade-10 !default;
$range-label-width: 60px !default;
$range-slider-height:30px;
$range-border-width: 3px;

$segment_value:200px;
$segment_value-a: 100px;
$segment_value-b: 200px;
$segment_value-c: 150px;
$segment-value-sum: $segment_value-a + $segment_value-b + $segment_value-c;

$range-label-height-min: 30px;
$range-label-height-max: 3em;
$range-label-pad-min:8px;
$range-label-pad-max:2em;

$thr_size: 32px;
$thr_size_max: 100px;
$pad_size_max: $thr_size_max * 0.6;
$pad_initial:100px;


$b_width:4px;
$b_style:solid;

$value_3_pos: $thr_size_max * 1.5;

@mixin border($direction, $b_width, $b_style, $color) {
  border-#{$direction}: $b_width $b_style $color;
}
@mixin border-default {
  border: $b_width $b_style $shade-0;
}

// Reset
/*
* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

body {
  font-family: sans-serif;
  padding: 60px 20px;

  @media (min-width: 600px) {
    padding:50px $pad_initial;
  }
}

.range-slider {  margin: 50vh 0 0 0%;}
*/


.chiaro, .scuro,
.wrap {

  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  width:$range-width;

}
#slider { margin-top: $value_3_pos; }
.chiaro, .scuro {
  min-height: $range-height;
}
.chiaro {background:$shade-10;}
.scuro {background:$shade-0; opacity:0.5;}
.chiaro, .scuro {margin:auto; text-align:center; }




.range {
  &-bck, &-soglia {
    display:flex;
    flex-direction:row;
    justify-content:start;
    transition: $transition;
  }
  &-bck {
    width: $range-width;
    height:$range-height;
    //margin:$pad_initial;
    @include border('bottom', $b_width, $b_style, $shade-0);


  }
  &-bck + &-soglia {
    //position:absolute;
    //left: $pad_initial;

  }

}


//n° step delle soglie logaritmiche = slider.html
$step: 6;
$single_step: calc( (#{$range-width} / #{$step}) - #{$b_width} );
$pxs: ();
//scala logaritmica gradiente
$cxs: green, lime, yellow, tomato, red, purple;

@for $i from 1 through $step {
  $pxs: append($pxs, $i * $range-width / $step );
  .range-bck > .value__#{$i} {
    transition: $transition;
    margin-top: $range-height;
    padding-left: $single_step;
    @include border('right', $b_width, $b_style, $shade-0);
    padding-top:20%;
    label {
      position:absolute;
      //centratura label assumento x 100px
      width:100px; margin-left:-50px;
      transition: $transition;}
    &:nth-child(odd) {
      height:50%;
      padding-top:10%;
    }
  }
}

.range-bck {
//scala logaritmica base step e colori
  background-image:
          linear-gradient(
                          90deg,
                          green 0%,
                          lime nth($pxs, 1),
                          yellow nth($pxs, 2),
                    // yellow nth($pxs, 6),
                          red 100%);
}





//.range-soglia {  position:absolute; margin-left:$pad_initial;}

.soglia__value {
  position:absolute;
  width:$thr_size; height:$thr_size;
  @include border-default;
  border-radius:50%;
  background-color: $shade-10;
  margin-top: - $range-height + $thr_size/2;
  //bootstrap margin container
  margin-left:30px - $thr_size / 2 + $b_width;
  // Soglia massima;
  &.value__3 {
    color:$shade-0;
    // position:absolute;
    font-size: $thr_size_max / 4;
    // line-height: $range-label-height-max/2;
    //height: $range-label-height-max*1.2;
    //width: $range-label-height-max*1.2;
    height: $thr_size_max;
    width: $thr_size_max;
    padding: $pad_size_max;
    letter-spacing:-0.05em;
    margin-top: -$value_3_pos - $pad_size_max/2 + $b_width;
    margin-left: -$thr_size_max * 0.5 + 30px + $b_width;
  }
}

.thr {
  display:flex;
  align-items:center;
  justify-content: flex-start;
  flex-direction:column;
  // Icona soglia max
  i {
    margin-top:-1em;
    margin-top: -55px;
    line-height: 55px;
    font-size: 190%;
    &:before {
      //line-height: 0;
    }
  }
}
.bar {
  width: $b_width;
  background-color: $shade-0;
  z-index:1;
  position:absolute;
  top: 100%;
  // height: calc((100% - #{$thr_size}) - (#{$range-height} + #{$b_width} + #{$value_3_pos}));
  height:  $value_3_pos  - $thr_size_max * 1.5 / 2 ;
}


.rp {
  font-size:60%;
  padding: 5px 1rem;
  background:$shade-10;
  @include border-default;
  border-radius:2rem;
  transform:scale(0.7) translateY(-$thr_size_max/10);
  font-weight:bolder;
  letter-spacing:0.002em;
  z-index:1;

}

