@import '_variables';
/********************************************************/
/***************** switch *******************************/
/********************************************************/

//$color_font: #22293e;
//$color_base: cornsilk;

$transition: .3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
$width: 6em;
$height: $width/2;
$pad: 8px;



.toggle{
  .toggle-control {
    transition: $transition;
    width: calc( #{$width } + (#{$pad}*2));
    height: calc( #{$height } + (#{$pad}*2));
    display: block;
    border: 3px solid $color_font;
    border-radius: $height;
    background-color: $color_base;
    position: relative;
    padding:$pad/2;
    &:before {
      // transition: $transition;

      position:absolute;
    }

    &:after{
      transition: $transition;
      content: "";
      width: $width/2;
      height: $height;
      display: block;
      background-color: $color_font;
      border-radius: 50%;
      // box-shadow: 0 1px 2px rgba(black, .4),0 3px 2px rgba(black,.4);
      position: absolute;
      //top: $pad;
      //left: $pad;

    }
  }

  input{
    display: none;
    &:checked + .toggle-control{
      border-color: $color_font;
      background-color: $color_base;
      &:after{
        left: calc((#{$width}/2) + (#{$pad}/2));
        background-color: $color_font;
      }
      &:before {
         color:$color_font;
        position: absolute;

      }
    }
  }
}
