<div class="rfsea_footer_box d-inline-flex  align-items-baseline justify-content-end">
    <!--<div class="">-->
        <h4 class="invert mb-2">SEADRIF</h4>
        <span class="sep invert">|</span>
        <h6 class="invert">RISK PLATFORM </h6>
        <small> .v.0.5 </small>
        <span class="pl-4"><a href="mailto:info@cimafoundation.org" class="invert small focus_alt"><i class="fa fa-envelope"></i></a></span>
    <span class="pl-4"><a href="#" class="invert small focus_alt"><i class="fa fa-info-circle" ></i></a></span>
    <!--</div>-->

    &nbsp;&nbsp;&nbsp;

</div>