<div class="rfsea_box_menu"  ng-show="!bLoggedInMenu">
    <ul>
        <li><a href="" ng-click="gotoPage('index.html')" ng-class="{'active' : page == '1'}"><b class="fa fa-home"></b> home</a></li>
        <li><a href="" ng-click="gotoPage('about.html')" ng-class="{'active' : page == '2'}"><b class="fas fa-comments"></b> about</a></li>
        <li class="last"><a href="" ng-click="setLoginView('login')"><b class="fas fa-sign-in-alt"></b> login</a></li>
    </ul>
</div>
<div class="rfsea_box_menu menu_mobile"  ng-show="!bLoggedInMenu">
    <!--<ul>
        <li><a href="" ng-click="gotoPage('index.html')" ng-class="{'active' : page == '1'}"><b class="fa fa-home"></b> home mobile</a></li>
        <li><a href="" ng-click="gotoPage('about.html')" ng-class="{'active' : page == '2'}"><b class="fas fa-comments"></b> about</a></li>
        <li class="last"><a href="" ng-click="setLoginView('login')"><b class="fas fa-sign-in-alt"></b> login</a></li>
    </ul>-->
    <label for="showMenu" class="showMenu">
        <i class="fa fa-align-justify fa-lg"></i>
    </label>
    <input type="checkbox" id="showMenu" role="button">

        <div class="dropdown-content">
            <a href="" ng-click="gotoPage('index.html')" ng-class="{'active' : page == '1'}"><b class="fa fa-home"></b> home</a>
            <a href="" ng-click="gotoPage('about.html')" ng-class="{'active' : page == '2'}"><b class="fas fa-comments"></b> about</a>
            <a href="" ng-click="setLoginView('login')"><b class="fas fa-sign-in-alt"></b> login</a>
        </div>


</div>

<!--<div class="rfsea_box_menu" ng-if="false">-->
    <!--<ul>-->
        <!--<li><a href="" ng-click="setHomeView()" ng-class="{'active' : page == '1'}">home</a></li>-->

        <!--&lt;!&ndash; Risk profile menu link &ndash;&gt;-->
        <!--<li ng-if="countrySelect !== 'na' && countrySelect !== ''">-->
            <!--<a href="" ng-click="setRiskProfileView()" ng-if="!districtdetails">-->
                <!--&lt;!&ndash;<span ng-if="!riskprofileShow">Risk Profile</span>&ndash;&gt;-->
                <!--<span>Risk Profile</span>-->
            <!--</a>-->
            <!--<a href="" ng-click="gotoPage('countries.html?p=rp')" ng-if="districtdetails">Risk Profile</a>-->
        <!--</li>-->
        <!--<li ng-if="countrySelect == 'na' || countrySelect == ''">-->
            <!--<span class="rfsea_menu_link_unavailable">Risk profile</span>-->
        <!--</li>-->

        <!--&lt;!&ndash; District menu link &ndash;&gt;-->
        <!--<li ng-if="countrySelect !== 'na' && countrySelect !== ''">-->
            <!--<a href="" ng-click="setDistrictView()" >-->
                <!--<span ng-if="!districtShow && !districtdetails">District</span>-->
                <!--<span ng-if="districtShow && !districtdetails">{{countrySelect | translate}}</span>-->
            <!--</a>-->
            <!--<a href="" ng-click="gotoPage('countries.html?p=dist')" ng-if="districtdetails">District</a>-->
        <!--</li>-->
        <!--<li ng-if="countrySelect == 'na' || countrySelect == ''">-->
            <!--<span class="rfsea_menu_link_unavailable">District</span>-->
        <!--</li>-->
        <!--<li class="last logged">-->
            <!--<a href="" ng-click="setLoginForm('')" class="d-flex align-items-center justify-content-center" >-->
                <!--<i class="fa fa-user-o"></i>-->
                <!--<h5>logout<br><small>[{{usrinfo.usrlogin}}]</small></h5>-->
            <!--</a>-->
        <!--</li>-->
    <!--</ul>-->
<!--</div>-->

<!-- Menu for COUNTRY DETAILS page -->
<div class="rfsea_box_menu logged--in" ng-show="bLoggedInMenu && !districtdetails">
    <ul>
        <li>
            <a href="" ng-class="{'active' : !riskprofileShow && !districtShow}" ng-click="setCountryProfileView()"><span class="flag-icon flag-icon-squared flag-icon-{{('flag_' + countryselected.name) | translate}}"></span> <b>{{countryselected.name | translate}}</b></a>
            &nbsp;&nbsp;
            <span ng-show="countries.length > 1" ng-click="showHideCountriesList()">
                <i class="fa fa-angle-down rfsea_row_select_country" aria-hidden="true" ng-show="!bCountriesList"></i>
                <i class="fa fa-angle-up rfsea_row_select_country" aria-hidden="true" ng-show="bCountriesList"></i>
            </span>
        </li>
        <li>
            <a href="" ng-class="{'active' : districtShow}" ng-click="setDistrictView()"><span>Districts</span></a>
        </li>
        <li>
            <a href="" ng-class="{'active' : riskprofileShow}" ng-click="setRiskProfileView()"><span>Risk Profile</span></a>
        </li>

        <!--<li class="skew">-->
            <!--<span class="flag-icon flag-icon-gb" style="width: 1em;" title="Language: English"></span>-->
        <!--</li>-->
        <li class="last logged">
            <a href="" ng-click="setLoginView('')" class="d-flex align-items-center justify-content-center" >
                <i class="fa fa-user-o"></i>
                <b><h5>logout<br><small>[{{userinfo.usrlogin}}]</small></h5></b>
            </a>
        </li>
    </ul>
    <div class="rfsea_menu_countries_list_box" ng-show="bCountriesList">
        <div ng-repeat="country in countries | orderBy: 'name'">
            <a href="" ng-show="country.name !== countryselected.name" ng-click="changeCountrySelection(country)"> <span class="flag-icon flag-icon-squared flag-icon-{{('flag_' + country.name) | translate}}"></span> {{country.name | translate}}</a>
        </div>
    </div>
</div>

<!-- Menu ///////////////// MOBILE ////////////////////// for COUNTRY DETAILS page -->
<div class="rfsea_box_menu logged--in menu_mobile " ng-show="bLoggedInMenu && !districtdetails">
    <label for="showMenu2" class="showMenu2">
        <i class="fa fa-align-justify fa-lg"></i>
    </label>
    <input type="checkbox" id="showMenu2" role="button">
    <div class="dropdown-content">


            <ul>
                <li>
                    <a href="" ng-class="{'active' : !riskprofileShow && !districtShow}" ng-click="setCountryProfileView()"><span class="flag-icon flag-icon-squared flag-icon-{{('flag_' + countryselected.name) | translate}}"></span> <b>{{countryselected.name | translate}}</b>
                    &nbsp;&nbsp;
                    <span ng-show="countries.length > 1" ng-click="showHideCountriesList()">
                        <i class="fa fa-angle-down rfsea_row_select_country" aria-hidden="true" ng-show="!bCountriesList"></i>
                        <i class="fa fa-angle-up rfsea_row_select_country" aria-hidden="true" ng-show="bCountriesList"></i>
                    </span>
                    </a>

                </li>
                <div class="rfsea_menu_countries_list_box" ng-show="bCountriesList">
                    <div ng-repeat="country in countries | orderBy: 'name'">
                        <a href="" ng-show="country.name !== countryselected.name" ng-click="changeCountrySelection(country)"> <span class="flag-icon flag-icon-squared flag-icon-{{('flag_' + country.name) | translate}}"></span> {{country.name | translate}}</a>
                    </div>
                </div>
                <li>
                    <a href="" ng-class="{'active' : districtShow}" ng-click="setDistrictView()"><span>Districts</span></a>
                </li>
                <li>
                    <a href="" ng-class="{'active' : riskprofileShow}" ng-click="setRiskProfileView()"><span>Risk Profile</span></a>
                </li>

                <!--<li class="skew">-->
                <!--<span class="flag-icon flag-icon-gb" style="width: 1em;" title="Language: English"></span>-->
                <!--</li>-->
                <li class="last logged">
                    <a href="" ng-click="setLoginView('')" class="d-flex align-items-center" >
                        <i class="fa fa-user-o"></i>
                        <b><h5>logout<small>  [{{userinfo.usrlogin}}]</small></h5></b>
                    </a>
                </li>
            </ul>
        </div>
</div>



<!-- Menu for DISTRICT DETAILS page -->
<div class="rfsea_box_menu" ng-show="bLoggedInMenu && districtdetails">
    <ul>
        <li>
            <a href="" ng-class="{'active' : !riskprofileShow && !districtShow}" ng-click="gotoPage('countries.html')">
                <span class="flag-icon flag-icon-squared flag-icon-{{('flag_' + countryselected.name) | translate}}"></span> {{countryselected.name | translate}}</a>
            &nbsp;&nbsp;
            <span ng-show="countries.length > 1" ng-click="showHideCountriesList()">
                <i class="fa fa-angle-down rfsea_row_select_country" aria-hidden="true" ng-show="!bCountriesList"></i>
                <i class="fa fa-angle-up rfsea_row_select_country" aria-hidden="true" ng-show="bCountriesList"></i>
            </span>
        </li>
        <li>
            <a href="" ng-class="{'active' : riskprofileShow}" ng-click="gotoPage('countries.html?p=rp')">
                <span>Risk Profile</span>
            </a>
        </li>
        <li>
            <a href="" ng-class="{'active' : districtShow}" ng-click="gotoPage('countries.html?p=dist')">
                <span>Districts</span>
            </a>
        </li>
        <li class="last logged">
            <a href="" ng-click="setLoginForm('')" class="d-flex align-items-center justify-content-center" >
                <i class="fa fa-user-o"></i>
                <h5>logout<br><small>[{{userinfo.usrlogin}}]</small></h5>
            </a>
        </li>
    </ul>
    <div class="rfsea_menu_countries_list_box" ng-show="bCountriesList">
        <div ng-repeat="country in countries | orderBy: 'name'">
            <a href="" ng-show="country.name !== countryselected.name" ng-click="changeCountrySelectionMovePage(country)">
                <span class="flag-icon flag-icon-squared flag-icon-{{('flag_' + country.name) | translate}}"></span> {{country.name | translate}}</a>
        </div>
    </div>
</div>

<!-- Menu  ///////////////// MOBILE //////////////////////  for DISTRICT DETAILS page -->
<div class="rfsea_box_menu menu_mobile" ng-show="bLoggedInMenu && districtdetails">

    <label for="showMenu2" class="showMenu2">
        <i class="fa fa-align-justify fa-lg"></i>
    </label>
    <input type="checkbox" id="showMenu2" role="button">
    <div class="dropdown-content">

    <ul>
        <li>
            <a href="" ng-class="{'active' : !riskprofileShow && !districtShow}" ng-click="gotoPage('countries.html')">
                <span class="flag-icon flag-icon-squared flag-icon-{{('flag_' + countryselected.name) | translate}}"></span> {{countryselected.name | translate}}</a>
            &nbsp;&nbsp;
            <span ng-show="countries.length > 1" ng-click="showHideCountriesList()">
                <i class="fa fa-angle-down rfsea_row_select_country" aria-hidden="true" ng-show="!bCountriesList"></i>
                <i class="fa fa-angle-up rfsea_row_select_country" aria-hidden="true" ng-show="bCountriesList"></i>
            </span>
        </li>
        <li>
            <a href="" ng-class="{'active' : riskprofileShow}" ng-click="gotoPage('countries.html?p=rp')">
                <span>Risk Profile</span>
            </a>
        </li>
        <li>
            <a href="" ng-class="{'active' : districtShow}" ng-click="gotoPage('countries.html?p=dist')">
                <span>Districts</span>
            </a>
        </li>
        <li class="last logged">
            <a href="" ng-click="setLoginForm('')" class="d-flex align-items-center justify-content-center" >
                <i class="fa fa-user-o"></i>
                <h5>logout<small>  [{{userinfo.usrlogin}}]</small></h5>
            </a>
        </li>
    </ul>
    <div class="rfsea_menu_countries_list_box" ng-show="bCountriesList">
        <div ng-repeat="country in countries | orderBy: 'name'">
            <a href="" ng-show="country.name !== countryselected.name" ng-click="changeCountrySelectionMovePage(country)">
                <span class="flag-icon flag-icon-squared flag-icon-{{('flag_' + country.name) | translate}}"></span> {{country.name | translate}}</a>
        </div>
    </div>
    </div>
</div>


<loginform formstatus="login.status" type="login.type"></loginform>



<!--<div class="container">-->
    <!--<div class="row">-->
        <!--&lt;!&ndash; FORM LOGIN & REGISTER &ndash;&gt;-->
        <!--<div class="rfsea_login_form animated fadeIn" ng-if="bLoginForm">-->
            <!--<div class="rfsea_login_form_box">-->

                <!--<div class="rfsea_close_btn_up">-->
                    <!--<a href="" ng-click="setLoginForm('close')">-->
                        <!--<i class="fa fa-close fa-2x"></i>-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div class="rfsea_login_form_box_opacity">-->
                    <!--<div class="row">-->
                        <!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">-->
                            <!--<h2>Login</h2>-->
                            <!--<p>Please <a href="" ng-click="setLoginForm('login')" class="rfsea_link">login</a> or <a href="" ng-click="setLoginForm('register')" class="rfsea_link">sign up</a> to continue</p>-->
                            <!--&lt;!&ndash;<div class="d-flex justify-content-center rfsea_login_form_link">&ndash;&gt;-->
                                <!--&lt;!&ndash;<a href="" ng-click="setLoginForm('login')" class=" active">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<h3 class="pl-2 pr-2">login</h3>&ndash;&gt;-->
                                <!--&lt;!&ndash;</a>&ndash;&gt;-->

                                <!--&lt;!&ndash;<h3 class="pl-2 pr-2"> | </h3>&ndash;&gt;-->

                                <!--&lt;!&ndash;<a href="" ng-click="setLoginForm('register')">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<h3 class="pl-2 pr-2">sign up</h3>&ndash;&gt;-->
                                <!--&lt;!&ndash;</a>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--</div>-->

                    <!--</div>-->
                    <!--&lt;!&ndash;<div class="rfsea_space"></div>&ndash;&gt;-->

                    <!--&lt;!&ndash; login form &ndash;&gt;-->
                    <!--<div class="row" ng-if="bLoginActive">-->
                        <!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">-->
                            <!--<div class="d-flex flex-column ">-->
                                <!--<div class="col-12 ">-->
                                    <!--<input type="text" class="form-control rfsea_input_style" placeholder="Email" ng-model="loginData.usr" />-->
                                <!--</div>-->
                                <!--<div class="rfsea_space"></div>-->
                                <!--<div class="col-12 ">-->
                                    <!--<input type="password" class="form-control rfsea_input_style" placeholder="Password" ng-model="loginData.psw" />-->

                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="row" ng-if="bRegisterActive">-->
                        <!--&lt;!&ndash;<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">&ndash;&gt;-->
                        <!--<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 register">-->
                            <!--<input type="text" class="form-control rfsea_input_style" placeholder="Name" ng-model="signinUsr.name" />-->
                        <!--</div>-->
                        <!--<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 register">-->
                            <!--<input type="text" class="form-control rfsea_input_style" placeholder="Last Name" ng-model="signinUsr.lastname" />-->
                        <!--</div>-->
                        <!--<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 register">-->
                            <!--<input type="text" class="form-control rfsea_input_style" placeholder="Email" ng-model="signinUsr.email" />-->
                        <!--</div>-->
                        <!--<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 register">-->
                            <!--<input type="text" class="form-control rfsea_input_style" placeholder="Institution" ng-model="signinUsr.institution" />-->
                        <!--</div>-->
                        <!--&lt;!&ndash;<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 register">&ndash;&gt;-->
                            <!--&lt;!&ndash;<input type="text" class="form-control rfsea_input_style" placeholder="Choose Password" />&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 register">&ndash;&gt;-->
                            <!--&lt;!&ndash;<input type="text" class="form-control rfsea_input_style" placeholder="Confirm Password" />&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--</div>-->

                    <!--&lt;!&ndash; Login/Register or Close form login &ndash;&gt;-->
                    <!--<div class="row">-->
                    	<!--&lt;!&ndash;<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">&ndash;&gt;-->
                            <!--<div class="rfsea_btn_login_form" ng-click="loginFormEnter()">-->
                                <!--{{txtBtn}}-->
                            <!--</div>-->

                    	<!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--<div class="rfsea_btn_close_login_form" ng-click="setLoginForm('close')">-->
                            <!--CLOSE-->
                        <!--</div>-->
                    <!--</div>-->

                <!--</div>-->
            <!--</div>-->

        <!--</div>-->
    <!--</div>-->
<!--</div>-->
