<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Disaster Risk Financing and Transfer</title>

    <meta name="keywords" content="Disaster Risk Financing and Transfer" />
    <meta name="description" content="">
    <meta name="author" content="cimafoundation.org">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">

    <!-- Bower components & JS -->

    <link href="../../bower_components/bootstrap/dist/js/bootstrap.js" rel="stylesheet">
    <link href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">


    <!--fontawesome-->
    <link rel="stylesheet" href="../../font-awesome/css/font-awesome.min.css">
    <!--flag css-->

    <!-- RFSEA CSS -->
    <!--<link rel="stylesheet"  href="../../css/rfsea.css" rel="stylesheet">-->
    <!--<link rel="stylesheet"  href="../../css/skin_deda_new.css" rel="stylesheet">-->

    <link rel="stylesheet"  href="../../css/soglie_new.css" rel="stylesheet">

</head>
<body>
<style>




</style>


<!--TODO passare i parametri di posizione values / label scala logaritmica e valori soglie e tooltip-->

<div class="wrap">
    <div class="chiaro">

        <div class="range-bck">
            <div class="range-step">
                <div class="step__1"></div>
                <div class="step__2"></div>
                <div class="step__3"></div>

            </div>
            <div class="value__1" ><label>3,000</label></div>
            <div class="value__2" ><label>10,000</label></div>
            <div class="value__3" ><label>100,000</label></div>
            <div class="value__4" ><label>500,000</label></div>
            <div class="value__5" ><label>1,000,000</label></div>
            <div class="value__6" ><label>10,000,000</label></div>
        </div>

        <div class="range-soglia">
            <span class="soglia__value value__1">1</span>
            <span class="soglia__value value__2">2</span>
            <span class="soglia__value value__3">
              <div class="thr">
                <i class="fa fa-users"></i>
                <label>58.965</label>
                <div class="bar"></div>
                 <div class="small rp">
                  RP=10yrs
                </div>
              </div>
            </span>
        </div>
    </div>
</div>

</body>
</html>