<!--TODO passare i parametri di posizione values / label scala logaritmica e valori soglie e tooltip-->



<div class="wrap" style="margin-top: 150px;">
    <!--<div class="chiaro" style="background: inherit;">-->

        <div class="range-bck">

            <div class="range-step">
                <div class="step__1" id="slider_step_1"></div>
                <div class="step__2" id="slider_step_2"></div>
                <div class="step__3" id="slider_step_3"></div>

            </div>

            <div class="value__1" ><label>{{convertNumber(gridValues[1]*multipier | number:0, 0)}}</label></div>
            <div class="value__2" ><label>{{convertNumber(gridValues[2]*multipier | number:0, 0)}}</label></div>
            <div class="value__3" ><label>{{convertNumber(gridValues[3]*multipier | number:0, 0)}}</label></div>
            <div class="value__4" ><label>{{convertNumber(gridValues[4]*multipier | number:0, 0)}}</label></div>
            <div class="value__5" ><label>{{convertNumber(gridValues[5]*multipier | number:0, 0)}}</label></div>
            <div class="value__6" ><label>{{convertNumber(gridValues[6]*multipier | number:0, 0)}}</label></div>

        </div>

        <div class="range-soglia">
            <span class="soglia__value value__1" id="slider_thr1_item" data-tooltip="html"  data-tooltip-conf="bottom">
                1
                <div class="tooltip " id="tooltip_value_1">
                    <div class="text-justify">
                        <small>Trigger 1 </small><br>
                        <small>Threshold: {{convertNumber(data.thr1*multipier | number: 0, 0)}} Affected</small><br>
                        <small>Drawdown: 30% of costs</small><br>
                    </div>
                </div>
            </span>
            <span class="soglia__value value__2" id="slider_thr2_item" data-tooltip="html"  data-tooltip-conf="bottom">
                2
                <div class="tooltip" id="tooltip_value_2">
                    <div class="text-justify">
                        <small>Trigger 2 </small><br>
                        <small>Threshold: {{convertNumber(data.thr2*multipier | number: 0, 0)}} Affected</small><br>
                        <small>Drawdown: 100% of costs</small><br>
                    </div>
                </div>
            </span>
            <span class="soglia__value value__3" id="slider_pop_item">
              <div class="thr eap" data-tooltip="html"  data-tooltip-conf="shadow" >
                <i ng-if="data.people" class="fa icon-people"></i>
                  <i ng-if="!data.people" class="fa icon-money"></i>
                <label style="font-size:35px; margin-bottom: .8rem;" class="riskbar__pillow">{{data.pop | number: 0}}</label>  <!--=== MANUEL NUMBER ABBR === convertNumber(data.pop*multipier | number:0, 2) -->
                  <div class="tooltip ">
                    <div class="text-center">
                        <small>RP={{rpValue}}</small>
                    </div>
                </div>
                <div class="bar"></div>
                  <!--<div class="small rp">
                   RP={{rpValue}}
                 </div>-->
              </div>
            </span>
        </div>
    <!--</div>-->
</div>

<!-- OLD VERSION 03/07/2018 Manuel -->
<!--<div class="wrap">-->
<!--<div class="chiaro">-->
<!--<div class="range-bck">-->
<!--&lt;!&ndash;n° step delle soglie logaritmiche = $step SCSS&ndash;&gt;-->
<!--<div class="value__1" ><label>{{gridValues[1]*multipier | number:0}}</label></div>-->
<!--<div class="value__2" ><label>{{gridValues[2]*multipier | number:0}}</label></div>-->
<!--<div class="value__3" ><label>{{gridValues[3]*multipier | number:0}}</label></div>-->
<!--<div class="value__4" ><label>{{gridValues[4]*multipier | number:0}}</label></div>-->
<!--<div class="value__5" ><label>{{gridValues[5]*multipier | number:0}}</label></div>-->
<!--<div class="value__6" ><label>{{gridValues[6]*multipier | number:0}}</label></div>-->
<!--</div>-->

<!--<div class="range-soglia">-->
<!--<span class="soglia__value value__1" id="slider_thr1_item" data-tooltip="html"  data-tooltip-conf="bottom" style="">-->
<!--1-->
<!--<div class="tooltip " id="tooltip_value_1">-->
<!--<span class="text-justify">-->
<!--<small>Trigger 1 </small><br>-->
<!--<small>Threshold: {{data.thr1*multipier | number: 0}} Affected</small><br>-->
<!--<small>Drawdown: 30% of costs</small><br>-->
<!--</span>-->

<!--</div>-->

<!--</span>-->
<!--<span class="soglia__value value__2" id="slider_thr2_item" data-tooltip="html"  data-tooltip-conf="bottom" style="">-->
<!--2-->
<!--<div class="tooltip" id="tooltip_value_2">-->
<!--<span class="text-justify">-->
<!--<small>Trigger 2 </small><br>-->
<!--<small>Threshold: {{data.thr2*multipier | number: 0}} Affected</small><br>-->
<!--<small> Drawdown: 100% of costs</small><br>-->
<!--</span>-->

<!--</div>-->
<!--</span>-->
<!--<span class="soglia__value value__3" id="slider_pop_item" style="">-->
<!--<div class="thr">-->
<!--<i ng-if="data.people" class="fa icon-people"></i>-->
<!--<i ng-if="!data.people" class="fa icon-money"></i>-->
<!--<label >{{data.pop*multipier | number:0}}</label>-->
<!--<div class="bar"></div>-->
<!--<div class="small rp">RP=10[years]</div>-->
<!--</div>-->
<!--</span>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
